@font-face {
  font-family: IntroHeadR;
  src: url(../fonts/IntroHeadR-Base.otf);
  font-weight: normal;
  font-style: normal;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin text-shadow($shadow) {
  text-shadow: $shadow;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Tahoma, sans-serif;
  background-color: rgba(0,0,0,0.8);
}

.b-modals_wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  right: 0;
}

.b-modal {
  position: absolute;
  margin: 7em auto 7em;
  left: 0;
  right: 0;

  &_row {
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  &_col-4 {
    width: 25%;
    float: left;
  }

  h1 {
    font-weight: normal;
    font-family: IntroHeadR, sans-serif;
    font-size: 36px;
    color: #403926;

    &:first-child {
      margin-top: 0;
    }
  }

  &_gift {
    width: 588px;
    color: #222d35;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &_close {
      color: #000;
      opacity: 0.5;
      font-size: 30px;
      font-style: normal;
      position: absolute;
      right: 0;
      top: 0;
      height: 45px;
      width: 50px;
      line-height: 40px;
      text-align: center;
      z-index: 3;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }

      &:active {
        opacity: 0.9;
      }
    }

    &_items {
      padding: 30px 40px;
    }

    &_text {
      font-size: 13px;

      p {
        margin: 0;
      }

      a {
        color: #008bc8;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      h5 {
        font-size: 17px;
        letter-spacing: -1px;
        margin: 20px 0 3px;
        font-family: Arial, sans-serif;
      }
    }

    &_image {
      width: 170px;
      height: 170px;
      border: 7px solid #fff;

      @include border-radius(50%);
      @include box-shadow(2px 2px 1px 0 rgba(0, 0, 0, 0.3));

      &_wrapper {
        text-align: center;
      }
    }

    &_body {
      background-color: #fff;
    }

    &_head {
      position: relative;
      padding: 20px 58px 45px;
      margin: 0 -58px;
      background: url(../images/bg.jpg) repeat #FFEAB9;

      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 22px;
        background: url(../images/bg-bottom.png) repeat-x;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    &_content {
      overflow: hidden;
    }
  }
}

.b-gift {
  text-align: center;
  position: relative;
  cursor: pointer;

  &_count {
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background-color: #b75885;
    font-size: 11px;
    font-weight: bold;
    display: block;
    position: absolute;
    right: 10px;
    top: 0;
    
    @include border-radius(50%);
  }

  &_price {
    font-size: 12px;
    color: #536069;
    margin-top: 15px;
  }

  &_image {
    width: 69px;
    height: 100px;
    background-image: url(../images/gift_1.png);
    display: inline-block;
    
    &_1 {
      background-position: 0 0;
    }

    &_2 {
      background-position: -69px 0;
    }

    &_3 {
      background-position: -138px 0;
    }

    &_4 {
      background-position: -207px 0;
    }
  }

  &:hover &_action {
    bottom: 20px;
    opacity: 1;
  }

  &_action {
    position: absolute;
    bottom: 10px;
    left: 0;
    opacity: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  &_button {
    border: none;
    outline: none;
    padding: 6px 18px 7px;
    color: #fff;
    cursor: pointer;
    text-shadow: 0 1px #215772;


    background: #0095d4; /* Old browsers */
    background: -moz-linear-gradient(top,  #0095d4 0%, #2989d8 32%, #007bb8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #0095d4 0%,#2989d8 32%,#007bb8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #0095d4 0%,#2989d8 32%,#007bb8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0095d4', endColorstr='#007bb8',GradientType=0 ); /* IE6-9 */

    @include box-shadow(0 1px 2px #A8A8A8, 0 0 13px 3px #fff);

    &:active {
      background: #2989d8; /* Old browsers */
      background: -moz-linear-gradient(top,     #007bb8 0%,#2989d8 32%,#0095d4 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #007bb8 0%,#2989d8 32%,#0095d4 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,    #007bb8 0%,#2989d8 32%,#0095d4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007bb8', endColorstr='#0095d4',GradientType=0 ); /* IE6-9 */
    }
  }
}


