@font-face {
  font-family: IntroHeadR;
  src: url(../fonts/IntroHeadR-Base.otf);
  font-weight: normal;
  font-style: normal; }
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Tahoma, sans-serif;
  background-color: rgba(0, 0, 0, 0.8); }

.b-modals_wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  right: 0; }

.b-modal {
  position: absolute;
  margin: 7em auto 7em;
  left: 0;
  right: 0; }
  .b-modal_row:after {
    content: '';
    display: table;
    clear: both; }
  .b-modal_col-4 {
    width: 25%;
    float: left; }
  .b-modal h1 {
    font-weight: normal;
    font-family: IntroHeadR, sans-serif;
    font-size: 36px;
    color: #403926; }
    .b-modal h1:first-child {
      margin-top: 0; }
  .b-modal_gift {
    width: 588px;
    color: #222d35;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .b-modal_gift_close {
      color: #000;
      opacity: 0.5;
      font-size: 30px;
      font-style: normal;
      position: absolute;
      right: 0;
      top: 0;
      height: 45px;
      width: 50px;
      line-height: 40px;
      text-align: center;
      z-index: 3;
      cursor: pointer; }
      .b-modal_gift_close:hover {
        opacity: 0.7; }
      .b-modal_gift_close:active {
        opacity: 0.9; }
    .b-modal_gift_items {
      padding: 30px 40px; }
    .b-modal_gift_text {
      font-size: 13px; }
      .b-modal_gift_text p {
        margin: 0; }
      .b-modal_gift_text a {
        color: #008bc8;
        text-decoration: none; }
        .b-modal_gift_text a:hover {
          text-decoration: underline; }
      .b-modal_gift_text h5 {
        font-size: 17px;
        letter-spacing: -1px;
        margin: 20px 0 3px;
        font-family: Arial, sans-serif; }
    .b-modal_gift_image {
      width: 170px;
      height: 170px;
      border: 7px solid #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      -webkit-box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.3); }
      .b-modal_gift_image_wrapper {
        text-align: center; }
    .b-modal_gift_body {
      background-color: #fff; }
    .b-modal_gift_head {
      position: relative;
      padding: 20px 58px 45px;
      margin: 0 -58px;
      background: url(../images/bg.jpg) repeat #FFEAB9; }
      .b-modal_gift_head:after {
        content: '';
        display: block;
        width: 100%;
        height: 22px;
        background: url(../images/bg-bottom.png) repeat-x;
        position: absolute;
        bottom: 0;
        left: 0; }
    .b-modal_gift_content {
      overflow: hidden; }

.b-gift {
  text-align: center;
  position: relative;
  cursor: pointer; }
  .b-gift_count {
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background-color: #b75885;
    font-size: 11px;
    font-weight: bold;
    display: block;
    position: absolute;
    right: 10px;
    top: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  .b-gift_price {
    font-size: 12px;
    color: #536069;
    margin-top: 15px; }
  .b-gift_image {
    width: 69px;
    height: 100px;
    background-image: url(../images/gift_1.png);
    display: inline-block; }
    .b-gift_image_1 {
      background-position: 0 0; }
    .b-gift_image_2 {
      background-position: -69px 0; }
    .b-gift_image_3 {
      background-position: -138px 0; }
    .b-gift_image_4 {
      background-position: -207px 0; }
  .b-gift:hover .b-gift_action {
    bottom: 20px;
    opacity: 1; }
  .b-gift_action {
    position: absolute;
    bottom: 10px;
    left: 0;
    opacity: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
  .b-gift_button {
    border: none;
    outline: none;
    padding: 6px 18px 7px;
    color: #fff;
    cursor: pointer;
    text-shadow: 0 1px #215772;
    background: #0095d4;
    /* Old browsers */
    background: -moz-linear-gradient(top, #0095d4 0%, #2989d8 32%, #007bb8 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0095d4 0%, #2989d8 32%, #007bb8 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0095d4 0%, #2989d8 32%, #007bb8 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0095d4', endColorstr='#007bb8',GradientType=0 );
    /* IE6-9 */
    -webkit-box-shadow: 0 1px 2px #A8A8A8, 0 0 13px 3px #fff;
    -moz-box-shadow: 0 1px 2px #A8A8A8, 0 0 13px 3px #fff;
    box-shadow: 0 1px 2px #A8A8A8, 0 0 13px 3px #fff; }
    .b-gift_button:active {
      background: #2989d8;
      /* Old browsers */
      background: -moz-linear-gradient(top, #007bb8 0%, #2989d8 32%, #0095d4 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #007bb8 0%, #2989d8 32%, #0095d4 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #007bb8 0%, #2989d8 32%, #0095d4 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007bb8', endColorstr='#0095d4',GradientType=0 );
      /* IE6-9 */ }

/*# sourceMappingURL=style.css.map */
